body {
	background-color: black;
	font-family: Arial, serif;
	font-size: 65px;
}

#playGround {
	display: flex;
	justify-content: center;
}

#startButton {
	width: 350px;
	height: 70px;
	position: absolute;
	margin-top: 300px;
	border: 0;
	background: transparent;
}

#score {
	color: white;
	position: absolute;
	margin-right: 950px;
	top: -60px;
	display: none;
}