body {
	background-color: black;
	font-family: Arial, serif;
	font-size: 65px;
}

#playGround {
	display: flex;
	justify-content: center;
}

#startButton {
	position: absolute;
	margin-top: 300px;
	border: 0;
	background: transparent;
}
